[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
flask = "*"
flask-socketio = "*"
importlib-metadata = "*"
numpy = "*"
openai = "*"
regex = "*"
requests = "*"
tenacity = "*"
tiktoken = "*"
virtualenv = "*"
werkzeug = "*"
markdown = "*"
pillow = "*"
wikipedia-api = "*"
beautifulsoup4 = "*"
faiss-cpu = "*"
pyyaml = "*"
easydict = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
